@model IEnumerable<WebProg_Portfolio2.Models.ImagesModel>


<h2>Galleri</h2>

<div class="gallery">
    @foreach (var img in Model)
    {
        <div class="gallery-item">
            <img src="@img.FilePath" alt="@img.Title"/>
            <h4>@img.Title</h4>
            <p>@img.Description</p>
        </div>
    }
</div>