html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Makes the site responsive*/
@media (max-width: 600px) {
  body {
    background-color: hotpink;
  }
  nav a {
    display: block;
    margin: 5px 0;
  }
}

body{
  font-family: "Book Antiqua";
}

.navbar-nav {
  background-color:black;
  padding:10px;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: lawngreen;
  padding: 5px;
}

.nav-link:hover {
  color: white;
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.gallery-item img {
  width: 100%;
  height: auto;
}