@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" asp-controller="Account" asp-action="Login">
    @Html.AntiForgeryToken()
    <div id="form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="emailOrUsername">E-mail eller brugernavn:</label><br />
        <input type="text" name="emailOrUsername" id="emailOrUsername" required />
        <br />

        <label for="password">Adgangskode:</label><br />
        <input type="password" name="password" id="password" required />
        <br />

        <button type="submit">Login</button>
    </div>
</form>