@model WebProg_Portfolio2.Models.UsersModel

@{
    ViewData["Title"] = "Register";
}

<h2>Registrer</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Username">Brugernavn:</label><br>
        <input asp-for="Username" /><br>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email">Email:</label><br>
        <input asp-for="Email" /><br>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="HashedPassword">Adgangskode:</label><br>
        <input asp-for="HashedPassword" type="password" /><br>
        <span asp-validation-for="HashedPassword" class="text-danger"></span>
    </div>

    <button type="submit">Opret</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
